{{!-- CS 340 Project --}}
{{!-- Group #97: Hayden Burgess, Quynh Nguyen --}}
{{!-- Project Title: Tabletoppers Games --}}
{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
{{!-- head.hbs --}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabletoppers Games</title>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon">
</head>