{{!-- CS 340 Project --}}
{{!-- Group #97: Hayden Burgess, Quynh Nguyen --}}
{{!-- Project Title: Tabletoppers Games --}}
{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
{{!-- Image Citation: https://images.pexels.com/photos/278918/pexels-photo-278918.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 --}}
{{!-- index.hbs --}}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabletoppers Games</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>
        <img src="./img/logo.png" alt="Tabletoppers Games Logo" style="width: 30px;">
        Tabletoppers Games
        <img src="./img/logo.png" alt="Tabletoppers Games Logo" style="width: 30px;">
    </h1>

    <nav>
        <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/board_games'>Board Games</a></li>
        <li><a href='/customers'>Customers</a></li>
        <li><a href='/orders'>Orders</a></li>
        <li><a href='/order_details'>Order Details</a></li>
        <li><a href='/warehouses'>Warehouses</a></li>
        </ul>
    </nav>

  <main>

    <img src="https://images.pexels.com/photos/278918/pexels-photo-278918.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Free use board game image" class="centered-image" width="300"/>

    <p4>
      Tabletoppers Games is an online e-commerce website committed to providing fun for their customers,
      friends, and family through board games. This database handles the relationships between their many
      customers and their orders. This includes tracking customers, their orders, the different board games,
      and warehouses. This assists them in understanding which board games are more popular among
      customers and helps develop more enjoyable games for everyone!
    </p4>
  </main>

  <footer>
    <p>Tabletoppers Games &copy; 2023 | Created by Quynh Nguyen and Hayden Burgess</p>
  </footer>
</body>
</html>